<form class="form" role="form">
    <div class="form-group">
        <label>Hours, Minutes with Input</label>
      {{#bs-datetimepicker date=time4  format='hh:mm a'}}
        {{input disabled=disabled class="form-control" name="Date" placeholder="Date"}}
      {{/bs-datetimepicker}}
    </div>

    <div class="form-group">
        <label>Hours, Minutes and AM/PM</label>
      {{bs-datetimepicker date=time4  format='hh:mm a' updateDate=(action (mut time4))}}
    </div>

    <div class="form-group">
        <label>Hours, Minutes and 24 Hours Format</label>
      {{bs-datetimepicker date=time4  format='HH:mm'}}
    </div>
</form>

{{bs-datetimepicker date=time4  format='HH:mm' placeholder="Click to play" class="form-control"}}

<div id="container">
    <label>Hours, Minutes and 24 Hours Format, No Icon</label>
  {{bs-datetimepicker date=time4 format='HH:mm' noIcon=true}}
</div>

<br/>
Modified Date: {{time4}}

Use : ember install ember-bootstrap-datetimepicker
